#### Create a dataset of the cars that each includes Manufacturer (For each record, the first word appears in a string at Vehicle name is its manufacturer. For example, Acura 3.5 RL 4dr’s manufacturer is Acura), Vehicle Name, type (i.e., Small/Sporty/Compact/Large Sedan, Sports Car, SUV, Wagon, Minivan, or Pickup), Retail Price, Dealer Cost, City MPG, Hwy MPG.

> The header of this data should sequentially include “manufacturer”, “name”, “type”, “retail_price”, “dealer_cost”, “mpg_city”, and “mpg_hwy”.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = pd.read_csv('2004car.csv')

In [3]:
data.head()

,Vehicle Name,Small/Sporty/ Compact/Large Sedan,Sports Car,SUV,Wagon,Minivan,Pickup,AWD,RWD,Retail Price,Dealer Cost,Engine Size (l),Cyl,HP,City MPG,Hwy MPG,Weight,Wheel Base,Len,Width
0,Acura 3.5 RL 4dr,1,0,0,0,0,0,0,0,43755,39014,3.5,6,225,18,24,3880,115,197,72
1,Acura 3.5 RL w/Navigation 4dr,1,0,0,0,0,0,0,0,46100,41100,3.5,6,225,18,24,3893,115,197,72
2,Acura MDX,0,0,1,0,0,0,1,0,36945,33337,3.5,6,265,17,23,4451,106,189,77
3,Acura NSX coupe 2dr manual S,0,1,0,0,0,0,0,1,89765,79978,3.2,6,290,17,24,3153,100,174,71
4,Acura RSX Type S 2dr,1,0,0,0,0,0,0,0,23820,21761,2.0,4,200,24,31,2778,101,172,68

In [4]:
data1 = data['Vehicle Name']
data1.head()

0                 Acura 3.5 RL 4dr
1    Acura 3.5 RL w/Navigation 4dr
2                        Acura MDX
3     Acura NSX coupe 2dr manual S
4             Acura RSX Type S 2dr
Name: Vehicle Name, dtype: object

In [5]:
manufacturer = data1.str.split('\\s').str[0]
manufacturer = pd.DataFrame(manufacturer)
manufacturer= manufacturer.rename(columns={'Vehicle Name':'Manufacturer'})
manufacturer.head()

  Manufacturer
0        Acura
1        Acura
2        Acura
3        Acura
4        Acura

In [6]:
cartype = data.loc[:,['Small/Sporty/ Compact/Large Sedan', 'Sports Car','SUV', 'Wagon', 'Minivan', 'Pickup']]
cartype['Small/Sporty/ Compact/Large Sedan'] = cartype['Small/Sporty/ Compact/Large Sedan'].map({1: 'Small/Sporty/ Compact/Large Sedan'})
cartype['Sports Car'] = cartype['Sports Car'].map({1: 'Sports Car'})
cartype['SUV'] = cartype['SUV'].map({1: 'SUV'})
cartype['Wagon'] = cartype['Wagon'].map({1: 'Wagon'})
cartype['Minivan'] = cartype['Minivan'].map({1: 'Minivan'})
cartype['Pickup'] = cartype['Pickup'].map({1: 'Pickup'})
cartype['type'] = cartype.max(axis=1)
cartype.head()

,Small/Sporty/ Compact/Large Sedan,Sports Car,SUV,Wagon,Minivan,Pickup,type
0,Small/Sporty/ Compact/Large Sedan,NaN,NaN,NaN,NaN,NaN,Small/Sporty/ Compact/Large Sedan
1,Small/Sporty/ Compact/Large Sedan,NaN,NaN,NaN,NaN,NaN,Small/Sporty/ Compact/Large Sedan
2,NaN,NaN,SUV,NaN,NaN,NaN,SUV
3,NaN,Sports Car,NaN,NaN,NaN,NaN,Sports Car
4,Small/Sporty/ Compact/Large Sedan,NaN,NaN,NaN,NaN,NaN,Small/Sporty/ Compact/Large Sedan

In [7]:
car1= pd.DataFrame()
car1['manufacturer']= manufacturer['Manufacturer']
car1['name']= data['Vehicle Name']
car1['type']= cartype['type']
car1['retail_price']= data['Retail Price']
car1['dealer_cost']= data['Dealer Cost']
car1['mpg_city']= data['City MPG']
car1['mpg_hwy']= data['Hwy MPG']

car1.head()

,manufacturer,name,type,retail_price,dealer_cost,mpg_city,mpg_hwy
0,Acura,Acura 3.5 RL 4dr,Small/Sporty/ Compact/Large Sedan,43755,39014,18,24
1,Acura,Acura 3.5 RL w/Navigation 4dr,Small/Sporty/ Compact/Large Sedan,46100,41100,18,24
2,Acura,Acura MDX,SUV,36945,33337,17,23
3,Acura,Acura NSX coupe 2dr manual S,Sports Car,89765,79978,17,24
4,Acura,Acura RSX Type S 2dr,Small/Sporty/ Compact/Large Sedan,23820,21761,24,31

In [8]:
car1.to_csv('a5_data1_your_net_id.csv')